<!-- problems to fix:
can we customize the checkboxes and slider?
filter button too
smh the size of the bookmark
fixed column sizes?
can we unclick the radio buttons
display of date/time and location
tags D:
-->

<!DOCTYPE html>
<html class="grey-background">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>

    <body>

  <!-- navigation bar -->
    <%= render "layouts/navbar"%>

    <!-- left bar, contains filtering options -->
    <div class="columns">
      <div class="dropdown is-hidden-tablet is-fullwidth">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Sort & Filter</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <%= form_tag(temp_form_path) do %>

                  <!-- SORTING CHECKBOXES -->
                  <div class="feed-left"> SORT BY: </div>
                  <div>
                      <%= check_box_tag(:upcoming) %>
                      <span class="small-tab checkboxes"> <%= label_tag(:mobile_upcoming, "Upcoming") %> </span> <br>
                      <%= check_box_tag(:highrated) %>
                      <span class="small-tab checkboxes"> <%= label_tag(:mobile_highrated, "Most Liked") %> </span>
                  </div>

                  <!-- FILTERS -->
                  <div class="feed-left"> FILTER BY: </div>
                  <div class="checkboxes">
                    <label><input name="freq" value="one-time" type="radio" class="radio-box"> <span class="small-tab">One-Time</span></input></label>
                    <span>&#160;</span>
                    <label><input name="freq" value="ongoing" type="radio" class="radio-box"> <span class="small-tab">Ongoing</span></input></label>
                    <br>
                    <label><input name="remo" value="in-person" type="radio" class="radio-box"> <span class="small-tab">In-Person</span></input></label>
                    <span>&#160;</span>
                    <label><input name="remo" value="remote" type="radio" class="radio-box"> <span class="small-tab">Remote</span> </input></label>
                  </div>

                  <!-- SLIDER -->
                  <div class="feed-left"> DISTANCE: </div>

                  <!-- <input id="distanceSlider" class="slider has-output is-fullwidth" min="0" max="30" value="30" step="1" type="range"> -->
                  <%= range_field_tag(:mobile_distance, @slider, min:0.5, max:15, step:0.1, class:"slider has-output is-fullwidth", id:"distanceblabla")%>
                  <p style="text-align:center">up to <output for="distanceblabla"><%= @slider %></output> miles away from:</p>
                    <div class="checkboxes">
                        <label><input name="location" value="loc1" type="radio" class="radio-box"><span class="small-tab"><%= Landmark.first.name %></span></label><br/>
                        <% if !Landmark.second.nil? %>
                            <label><input name="location" value="loc2" type="radio" class="radio-box"><span class="small-tab"><%= Landmark.second.name %></span></label><br/>
                        <% end %>
                        <% if !Landmark.third.nil? %>
                            <label><input name="location" value="loc3" type="radio" class="radio-box"><span class="small-tab"><%= Landmark.third.name %></span></label><br/>
                        <% end %>
                    </div>
                  <!-- TAGS -->
                  <div class="feed-left"> TAGS: </div>
                  <div class="tags tagbox">
                      <% Tag.all.each do |f| %>
                          <% if !@tags.nil? && @tags.include?(f.name) %>
                              <span class="tag is-rounded filter-custom-tag-mobile filter-custom-tag-checked-mobile" name=<%= f.name %> ><%= f.name %></span>
                          <% else %>
                              <span class="tag is-rounded filter-custom-tag-mobile" name=<%= f.name %> ><%= f.name %></span>
                          <% end %>
                      <% end %>
                  </div>

                  <div>
                      <div id="tagInputContainerMobile">
                          <%= submit_tag(" filter opportunities ", :class => "button filter-button is-centered is-fullwidth" ) %>
                          <% end %>
                      </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
        <div class="column is-one-fifth column-feed is-hidden-mobile">

            <%= form_tag(temp_form_path) do %>

                <!-- SORTING CHECKBOXES -->
                <div class="feed-left"> SORT BY: </div>
                <div>
                    <%= check_box_tag(:upcoming) %>
                    <span class="small-tab checkboxes"> <%= label_tag(:upcoming, "Upcoming") %> </span> <br>
                    <%= check_box_tag(:highrated) %>
                    <span class="small-tab checkboxes"> <%= label_tag(:mobile_highrated, "Most Liked") %> </span>
                </div>

                <!-- FILTERS -->
                <div class="feed-left"> FILTER BY: </div>
                <div class="checkboxes">
                    <label><input name="freq" value="one-time" type="radio" class="radio-box"> <span class="small-tab">One-Time</span></input></label>
                    <span>&#160;</span>
                    <label><input name="freq" value="ongoing" type="radio" class="radio-box"> <span class="small-tab">Ongoing</span></input></label>
                    <br>
                    <label><input name="remo" value="in-person" type="radio" class="radio-box"> <span class="small-tab">In-Person</span></input></label>
                    <span>&#160;</span>
                    <label><input name="remo" value="remote" type="radio" class="radio-box"> <span class="small-tab">Remote</span> </input></label>
                </div>

                <!-- SLIDER -->
                <div class="feed-left"> DISTANCE: </div>

                <!-- <input id="distanceSlider" class="slider has-output is-fullwidth" min="0" max="30" value="30" step="1" type="range"> -->
                <%= range_field_tag(:distance, @slider, min:0.5, max:15, step:0.1, class:"slider has-output is-fullwidth", id:"distanceSlider")%>
                <p style="text-align:center">up to <output for="distanceSlider"><%= @slider %></output> miles away from:</p>
                  <div class="checkboxes">
                      <label><input name="location" value="loc1" type="radio" class="radio-box"><span class="small-tab"><%= Landmark.first.name %></span></label><br/>
                      <% if !Landmark.second.nil? %>
                        <label><input name="location" value="loc2" type="radio" class="radio-box"><span class="small-tab"><%= Landmark.second.name %></span></label><br/>
                      <% end %>
                      <% if !Landmark.third.nil? %>
                        <label><input name="location" value="loc3" type="radio" class="radio-box"><span class="small-tab"><%= Landmark.third.name %></span></label><br/>
                      <% end %>
                  </div>
                <!-- TAGS -->
                <div class="feed-left"> TAGS: </div>
                <div class="tags tagbox">
                    <% Tag.all.each do |f| %>
                        <% if !@tags.nil? && @tags.include?(f.name) %>
                            <span class="tag is-rounded filter-custom-tag filter-custom-tag-checked" name=<%= f.name %> ><%= f.name %></span>
                        <% else %>
                            <span class="tag is-rounded filter-custom-tag" name=<%= f.name %> ><%= f.name %></span>
                        <% end %>
                    <% end %>
                </div>

                <div>
                    <div id="tagInputContainer">
                        <%= submit_tag(" filter opportunities ", :class => "button filter-button is-centered is-fullwidth" ) %>
                        <% end %>
                    </div>
                </div>

                </br>

                <!--
                <div class="buttons is-centered saved">
                    <%= link_to '<i class="fas fa-user-check"></i><span class="small-tab">view sign ups</span>'.html_safe, temp_form_path( signed_up: 1), class: "button is-small feed-saved-button" %>
                    <%= link_to '<i class="fas fa-history"></i><span class="small-tab">view volunteer history</span>'.html_safe, temp_form_path( history: 1), class: "button is-small feed-saved-button" %>
                </div>
                -->
        </div>

        <div class="column column-feed">
            <div id="back-to-top"></div>
            <div id="link-wrap" >
                <%= render @opportunities %>
            </div>
            <br>
             <% if @opportunities.next_page %>
                <div class="link buttons is-centered">
                    <div class="more">
                        <%= link_to 'Load More', feed_volunteer_path(:page => @opportunities.next_page), :class => "next_page button page-button", :remote => true if @opportunities.next_page %>
                    </div>
                    <a href="#back-to-top" class="button page-button"> <i class="fas fa-angle-double-up" style="margin: 0 5px 0 0;"></i> Back to top </a>
                </div>
            <% end %>
        </div>

    </div>
</body>

</html>

<script>
    function findOutputForSlider(el) {
        var idVal = el.id;
        outputs = document.getElementsByTagName('output');
        for( var i = 0; i < outputs.length; i++ ) {
        if (outputs[i].htmlFor == idVal)
            return outputs[i];
        }
    }

    function updateSliderValue() {
        var sliders = document.querySelectorAll( 'input[type="range"].slider' );
        [].forEach.call( sliders, function ( slider ) {
        var output = findOutputForSlider( slider );
        if ( output ) {
            slider.addEventListener( 'input', function( event ) {
            output.value = event.target.value;
            } );
        }
        } );
    }

    updateSliderValue();

    var dropdown = document.querySelector('.dropdown');
    var button = document.querySelector('.dropdown-trigger');
    button.addEventListener('click', function(event) {
      event.stopPropagation();
      dropdown.classList.toggle('is-active');
      updateSliderValue();
    });
</script>
