<!DOCTYPE html>
<html class="blue-background">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Bulma!</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>

    <body>
      <div class="sign-in-title"><%= @interface.name %></div>
      <div class="container has-text-centered">
        <div class="column is-8 is-offset-2">
          <div class="box">

            <%= form_for(resource, as: resource_name, url: request_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field sign-in-field">
                    <div class="control has-icons-left">
                        <%= f.email_field :email, autofocus: true, class: "input", placeholder: "Email address" %>
                        <!-- <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span> -->
                    </div>
                </div>

                <div class="field sign-in-field">
                    <div class="control has-icons-left">
                        <%= f.password_field :password, class: "input", placeholder: "Password: #{@minimum_password_length} characters minimum" %>
                        <!-- <span class="icon is-small is-left"><i class="fa fa-lock"></i></span> -->
                    </div>
                </div>

                <div class="field sign-in-field">
                    <div class="control has-icons-left">
                        <%= f.password_field :password_confirmation, class: "input", placeholder: "Confirm password" %>
                        <!-- <span class="icon is-small is-left"><i class="fa fa-lock"></i></span> -->
                    </div>
                </div>

                <div class="actions">
                    <%= f.submit "Request Registration", class: "button is-medium sign-in-button" %>
                </div>

                <%= render "devise/shared/links" %>

            <% end %>

        </div>
      </div>

    </body>
  </html>
